[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/openhab"]
	path = bundle/openhab
	url = https://github.com/cyberkov/openhab-vim.git
[submodule "bundle/vim-swift"]
	path = bundle/vim-swift
	url = git://github.com/toyamarinyon/vim-swift.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
